<div class="panel-heading">
    <h3 class="panel-title">{{i18n "session"}}: {{sessionName}}</h3>
</div>
<div class="panel-body">
    <form role="form">
        <div class="form-group">
            <label for='{{next-id "msg-lnk"}}'>{{i18n "to"}}:</label>
            <input type="text" class="form-control" id='{{current-id "msg-lnk"}}' name="to"
                   placeholder='{{i18n "who.is.going.to.get.this.email"}}'>
        </div>
        <div class="form-group">
            <label for='{{next-id "msg-lnk"}}'>{{i18n "subject"}}:</label>
            <input type="text" class="form-control" id='{{current-id "msg-lnk"}}' name="subject"
                   placeholder='{{i18n "heads.up"}}'>
        </div>
        <div class="form-group">
            <label for='{{next-id "msg-lnk"}}'>{{i18n "content"}}:</label>
            <textarea id='{{current-id "msg-lnk"}}' name="text" class="form-control" rows="5"></textarea>
        </div>
    </form>
    <div class="ux-buttons">
        <button class="btn send btn-large btn-success ux-send-btn">{{i18n "send"}}</button>
        <button class="btn btn-large ux-cancel-btn">{{i18n "cancel"}}</button>
    </div>
</div>