<div class="container-narrow">

    <div class="masthead">
        <ul class="nav nav-pills pull-right">
            <li class="active"><a href="/">{{i18n "home"}}</a></li>
            <li><a href="/email-send">{{i18n "send.email"}}</a></li>
            <li><a href="/about">{{i18n "about"}}</a></li>
        </ul>
        <h3 class="muted">{{i18n "app.name"}}</h3>
    </div>

    <hr>

    <div>
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for='{{next-id "msg-lnk"}}' class="col-sm-2 control-label">{{i18n "session"}}:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control ux-session-name" id='{{current-id "msg-lnk"}}'
                           placeholder='{{i18n "name.of.email.session"}}'>
                </div>
            </div>
            <div class="form-group">
                <label for='{{next-id "msg-lnk"}}' class="col-sm-2 control-label">{{i18n "user"}}:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control ux-user-name" id='{{current-id "msg-lnk"}}'>
                </div>
            </div>
            <div class="form-group">
                <label for='{{next-id "msg-lnk"}}' class="col-sm-2 control-label">{{i18n "password"}}:</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control ux-user-password" id='{{current-id "msg-lnk"}}'>
                </div>
            </div>

            <div class="form-group">
                <label for='{{next-id "msg-lnk"}}' class="col-sm-2 control-label">{{i18n "default.email.session.configuration"}}:</label>
                <div class="col-sm-10">
                    <textarea id='{{current-id "msg-lnk"}}' class="form-control ux-session-properties" rows="12">
mail.smtp.auth=true
mail.smtp.starttls.enable=true
mail.smtp.host=smtp.gmail.com
mail.smtp.port=587
mail.host=pop.gmail.com
mail.store.protocol=pop3s
mail.pop3s.auth=true
mail.pop3s.port=995
                    </textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <a href="read" class="btn send btn-large btn-danger ux-read-btn">{{i18n "trigger.email.read"}}</a>
                    <a href="save" class="btn btn-large ux-save-btn">{{i18n "save.session.config"}}</a>
                </div>
            </div>
        </form>
    </div>
</div>