<div class="container-narrow">

    <div class="masthead">
        <ul class="nav nav-pills pull-right">
            <li><a href="/">{{i18n "home"}}</a></li>
            <li class="active"><a href="/email-send">{{i18n "send.email"}}</a></li>
            <li><a href="/about">{{i18n "about"}}</a></li>
        </ul>
        <h3 class="muted">{{i18n "app.name"}}</h3>
    </div>

    <hr>

    <div>
        <form>
            <legend>{{i18n "send.an.email"}}</legend>
            <fieldset>
                <label>{{i18n "session"}}:</label>
                <input name="session" class="input-block-level" type="text"
                       placeholder='{{i18n "name.of.email.session"}}'>
            </fieldset>
            <fieldset>
                <label>{{i18n "to"}}:</label>
                <input name="to" class="input-block-level" type="text"
                       placeholder='{{i18n "who.is.going.to.get.this.email"}}'>
            </fieldset>
            <fieldset>
                <label>{{i18n "subject"}}:</label>
                <input name="subject" class="input-block-level" type="text" placeholder='{{i18n "heads.up"}}'>
            </fieldset>
            <fieldset>
                <label>{{i18n "content"}}:</label>
                <textarea name="text" class="input-block-level" rows="5"></textarea>
            </fieldset>
        </form>
    </div>

    <div class="jumbotron">
        <button class="btn send btn-large btn-success ux-send-btn">{{i18n "send"}}</button>
        <button class="btn send btn-large ux-cancel-btn">{{i18n "cancel"}}</button>
    </div>

    <hr>

    <div class="footer">
        <p>Apache TomEE <a href="http://tomee.apache.org/">http://tomee.apache.org/</a></p>
    </div>

</div>