<div class="container-narrow">

    <div class="masthead">
        <ul class="nav nav-pills pull-right">
            <li class="active"><a href="/">{{i18n "home"}}</a></li>
            <li><a href="/email-send">{{i18n "send.email"}}</a></li>
            <li><a href="/about">{{i18n "about"}}</a></li>
        </ul>
        <h3 class="muted">{{i18n "app.name"}}</h3>
    </div>

    <hr>

    <div>
        <form>
            <fieldset>
                <label>{{i18n "default.email.session.configuration"}}:</label>
                <textarea name="text" class="input-block-level ux-session-properties" rows="12">
ux_session_user_account=your user here
ux_session_user_password=your password here
ux_session_name=default
mail.smtp.auth=true
mail.smtp.starttls.enable=true
mail.smtp.host=smtp.gmail.com
mail.smtp.port=587
mail.host=pop.gmail.com
mail.store.protocol=pop3s
mail.pop3s.auth=true
mail.pop3s.port=995
                </textarea>
            </fieldset>
        </form>
    </div>

    <div class="jumbotron">
        <button class="btn send btn-large btn-danger ux-read-btn">{{i18n "trigger.email.read"}}</button>
        <button class="btn btn-large ux-save-btn">{{i18n "save.session.config"}}</button>
    </div>

    <hr>

    <div class="footer">
        <p>Apache TomEE <a href="http://tomee.apache.org/">http://tomee.apache.org/</a></p>
    </div>

</div>